In [3]:
import pandas as pd
import numpy as np
import requests

In [7]:
# query API

races = {'season': [],
        'round': [],
        'circuit_id': [],
        'lat': [],
        'long': [],
        'country': [],
        'date': []}

for year in list(range(2015,2021)):
    
    url = 'https://ergast.com/api/f1/{}.json' 
    r = requests.get(url.format(year))
    json = r.json()

    for item in json['MRData']['RaceTable']['Races']:
        try:
            races['season'].append(int(item['season']))
        except:
            races['season'].append(None)

        try:
            races['round'].append(int(item['round']))
        except:
            races['round'].append(None)

        try:
            races['circuit_id'].append(item['Circuit']['circuitId'])
        except:
            races['circuit_id'].append(None)

        try:
            races['lat'].append(float(item['Circuit']['Location']['lat']))
        except:
            races['lat'].append(None)

        try:
            races['long'].append(float(item['Circuit']['Location']['long']))
        except:
            races['long'].append(None)

        try:
            races['country'].append(item['Circuit']['Location']['country'])
        except:
            races['country'].append(None)

        try:
            races['date'].append(item['date'])
        except:
            races['date'].append(None)
        
races = pd.DataFrame(races)

In [8]:
races

     season  round   circuit_id       lat       long    country        date
0      2015      1  albert_park -37.84970  144.96800  Australia  2015-03-15
1      2015      2       sepang   2.76083  101.73800   Malaysia  2015-03-29
2      2015      3     shanghai  31.33890  121.22000      China  2015-04-12
3      2015      4      bahrain  26.03250   50.51060    Bahrain  2015-04-19
4      2015      5    catalunya  41.57000    2.26111      Spain  2015-05-10
..      ...    ...          ...       ...        ...        ...         ...
114    2020     13        imola  44.34390   11.71670      Italy  2020-11-01
115    2020     14     istanbul  40.95170   29.40500     Turkey  2020-11-15
116    2020     15      bahrain  26.03250   50.51060    Bahrain  2020-11-29
117    2020     16      bahrain  26.03250   50.51060    Bahrain  2020-12-06
118    2020     17   yas_marina  24.46720   54.60310        UAE  2020-12-13

[119 rows x 7 columns]

In [5]:
races.to_csv('f1_data.csv')